body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex-grow: 1;
}



/* HEADER */

.header {
    background-color: #15636D;
    color: white;
    padding: 10px;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* MAIN */

.results{
    color: #15636D;
}

.logo {
    background-color: #15636D;
    width: 180px;
    height: 100px;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.calc, form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phone-link {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #15636D;
}

.phone-animation {
    width: 40px;
    height: 40px;
    margin-left: 15px;
}


.money-input-label {
    position: relative;
    label {
        position: absolute;
        top: 0;
        bottom: 0;
    }
}

/* Footer */

.footer_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    background-color: #15636D;
    color: white;
    padding: 10px;
}
.footer-logo {
    width: 60px;
    height: 40px;
}

.medias {
  display: flex;
  align-items: center;
  gap: 30px;
}

.media-link {
    img{
        width: 30px;
        height: 30px;
    }
}